<div class="form-item">
  <label class="form-item-label">{{label}}</label>
  <div class="form-item-control">
    <input
      name="{{name}}"
      type="{{type}}"
      placeholder="{{placeholder}}"
      value="{{value}}"
      {{#if disabled}}disabled{{/if}}
    />
  </div>
</div>