<div class="chat-header">
  <div class="chat-header-avatar">
    {{#if hasAvatar}}
      <img src="{{avatar}}" />
    {{/if}}

  </div>
  <h4 class="chat-header-title">{{title}}</h4>
  {{#if isCurrent}}
    <div class="chat-header-actions">{{{menu}}}</div>
  {{/if}}

</div>
<div class="chat-content">
  {{#each messages}}
    {{{this}}}
  {{/each}}
</div>
<div class="chat-footer">
  <div class="chat-footer-attach">
    {{{attach}}}
  </div>
  {{{form}}}
</div>