<div class="chats-navigation column">
  <div class="chats-navigation-profile">
    {{{link}}}
  </div>
  <div class="chats-actions">
    {{{search}}}
    {{{btn}}}
  </div>
  {{{chatList}}}
</div>
{{{currentChat}}}